<!DOCTYPE html>
<html lang="en">

<style>
    .header{
        text-align: center;
        font-family: system-ui;

        opacity: 0.8;
        padding: 5px;
    }

    .body{
        background: #7fa580;
        opacity: 0.8;
        width: 50%;
        text-align: center;
        margin-left: 450px;
        margin-top: 100px;
        padding: 15px;
        font-family: system-ui;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>ELEC 390 Capstone</title>
</head>

<!Background Colour>
<body style="background-color:#c6c9c7"></body>

<div class="header">
    <h1>ELEC 390: Sleep Monitoring System </h1>
</div>

<div class="body">
    <h3><u>Upload Sleep Data</u></h3>
    <img src="/static/src/System_Model.jpeg" alt="System Diagram" width="900" height="auto">
    <br><br>
    <label for="Sleep Data"></label><input type="file" id="Sleep Data" name="Data" accept=".text/csv">
    <br><br>
    <label for="Age"></label><input type="text" id="Age" name="Age" placeholder="Age">
    <label for="Occupation"></label><input type="text" id="Occupation" name="Occupation" placeholder="Occupation">
    <label for="Stress Level"></label><input type="text" id="Stress Level" name="Stress" placeholder="Stress Level">
    <label for="BMI Category"></label><input type="text" id="BMI Category" name="BMI" placeholder="BMI Category">
    <button type="button" id="Enter" name="Enter">Enter</button>
</div>

</html>
